/*======================
    404 page
=======================*/

.page_404 {
    padding: 40px 0;
    background: #fff;
    font-family: 'Arvo', serif;
    text-align: center;
  }
  
  .four_zero_four_bg {
    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 50vh;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  
    h1 {
      font-size: 10vw;
      margin-top: 10px;
    }
  }
  
  .contant_box_404 {
    margin-top: 20px;
  
    h3 {
      font-size: 2rem;
    }
  
    p {
      font-size: 1rem;
      margin: 10px 0;
    }
  
    .link_404 {
      color: #fff !important;
      padding: 10px 20px;
      background: #39ac31;
      margin: 20px 0;
      display: inline-block;
      text-decoration: none;
      border-radius: 5px;
    }
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .four_zero_four_bg {
      height: 40vh;
    }
  
    .four_zero_four_bg h1 {
      font-size: 12vw;
    }
  
    .contant_box_404 h3 {
      font-size: 1.5rem;
    }
  
    .contant_box_404 p {
      font-size: 0.9rem;
    }
  }
  